language: ruby
rvm: 2.4.1
dist: trusty
sudo: false

cache:
  bundler: true
  directories:
  - ${HOME}/perl5
  - ${HOME}/.cache

addons:
  postgresql: 9.3

env:
  global:
  - DATABASE_URL='postgres://localhost:5432/job_board_test'
  matrix:
  - INTEGRATION_SPECS='1' COVERAGE='1'
  - INTEGRATION_SPECS='0'

before_install:
- script/install-sqitch
- eval "$(perl -I ~/perl5/lib/perl5/ '-Mlocal::lib')"

before_script:
- createdb job_board_test
- sqitch deploy
- sqitch verify
